


/*----------------------------------
Global CSS
--------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);



body {
    margin: 0;
    font-family: Montserrat, serif;
}


.active {
    background-color: #000;
    color: #fff;
}

.department-nav {
    background-color: #000;
    color: #fff;
}
.department-nav a {
    color: #fff;
    padding: 5px;
}

/*--------------------------------------------
Nav that slides in when mobile hamburger clicked
---------------------------------------------*/


.slide-in {
    width: 100%;
    z-index: 1000;
    position: absolute;
    left: -1500px;
    background: #000;
    color: #fff;
}
.slide-in ul {
    padding: 0;
    margin: 0;
}
.slide-in li {
    list-style: none;
    /*border-bottom: 1px solid #fff;*/
    padding: 10px;
}
.slide-in a {
    color: #fff;
}
/*.slide-in ul li a {
    color: #000;
}*/

#womens-btn {
    cursor: pointer;
}
#mens-btn {
    cursor: pointer;
}
#kids-btn {
    cursor: pointer;
}

#womens-cats {
    padding-left: 30px;
    background-color: #fff;
}
#womens-cats a {
    color: #000;
}
#mens-cats {
    padding-left: 30px;
    background-color: #fff;
}
#mens-cats a {
    color: #000;
}
#kids-cats {
    padding-left: 30px;
    background-color: #fff;
}
#kids-cats a {
    color: #000;
}




/*----------------------------------------------
Desktops & larger screens
-----------------------------------------------*/

#navbar {
    border-bottom: 5px solid #000;
}

#navbar .dropdown {
    display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border: 0;
    border-radius: 0;
    margin: 0;
}
#navbar a {
    color: #000;
    text-decoration: none;
}

#nav-cats {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;
    /*text-align: center;*/
}

#search-cart {
    padding-top: 50px;
}

#search-cart span {
    /*float: right;*/
    /*font-size: 25px;*/
    cursor: pointer;
}
#search-cart span + span {
    /*padding-right: 30px;*/
}

/*------------------------------------------
Mobile navbar
--------------------------------------------*/

#navbar-m {
    background-color: #fff;
    width: 100%;
    display: table;
}


.brand-title {
    /*display: block;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

.brand-title a{
    color: #000;
    font-weight: bold;
    font-size: 20px
}

.navbar-icons {
    background-color: #fff;
    padding: 0;
}

.navbar-icon {
    text-align: center;
    border: 1px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    cursor: pointer;
}
.navbar-icon a {
    color: #000;
}

.search-bar {
    padding: 10px;
    /*border-bottom: 1px dotted #000;*/
    /*margin-bottom: 5px;*/
    background-color: #fff;
}

.form-control {
    border-radius: 0;
}
.btn {
    border-radius: 0;
}

/*--------------------------------------------
CAROUSEL
--------------------------------------------*/

.item img {
    width: 100%;
}




/*------------------------------------
Menu below carousel
-------------------------------------*/


.menu {
    background-color: #fff;
    width: 100%;
    display: table;
    padding: 0;
    margin: 0;
}


.menu li {
    /*display: block;*/
   /* display: table-cell;*/
    vertical-align: middle;
    text-align: center;
    list-style: none;
    padding: 10px;
    border-top: 1px solid #000;
}

.menu li a {
    color: #000;
    font-weight: bold;
}




/*----------------------------------------
Footer
-----------------------------------------*/

#footer {
    background-color: #000;
    
}

#footer a {
    color: #fff;
}

.footer-link {
    position:static !important;
}


/*-------------------------------------
LARGER SCREEN SIZES
-----------------------------------------*/

@media (min-width: 991px) {
    .navbar {

    }
}


#departments-navbar ul {
    padding: 0;
}

#departments-navbar li {
    display: inline-block;
}






/*-------------------------------------------
SMALLER SCREEN SIZES
----------------------------------------------*/
@media (max-width: 991px) {
    .container {
        /*margin: 0 !important;*/
        padding: 0;
    }
    body {
      /*  padding-top: 145px;*/
       /* margin: 0;*/
    }
}



/*--------------------------------------------------
Testing navbar dropdown on scroll up
--------------------------------------------------*/
/*body {
    padding-top: 145px;

}*/

/*header {*/
    /*background: #f5b335;*/
/*    height: 140px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}*/

/*.nav-up {
    top: -145px;
}*/

/*main {
   background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV2O8dOnSfwYg0NPTYwTRuAAj0QqxmYBNM1briFaIzRbi3UiRZ75uNgUHGbfvabgfsHqGaIXYPAMAD8wgC/DOrZ4AAAAASUVORK5CYII=
   ) repeat;
    height: 2000px;
}*/

/*footer { background: #ddd;}
* { color: transparent}*/


/*--------------------------------------------------------------------
DEPARTMENT AND PRODUCT HTML CSS
---------------------------------------------------------------------*/
    .product-padding {
        padding: 20px;
    }