{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ user|title }} - Dashboard{% endblock %}




{% block body_block %}



{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



<p>{{ user }}</p>


<p><strong>Favorites:</strong></p>
{% for like in userprofile.likes.all %}
	<div class="col-md-3">
		<a href="{% url 'product' like.department like.slug %}">
			{{ like }}
			<img class="img-responsive" src="{{ like.image.url }}" />
		</a>
	</div>
{% endfor %}

{% endblock %}